.li-item {
    margin-left: 50px;
    height: 50px;
}

table {
    margin-left: 50px;
    margin-top: 10px;
}

.table_title {
    margin-left: 50px;
    margin-top: 10px;
}

.left_space {
    margin-left: 50px;
}
